.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  padding: var(--gap-m);
  overflow: auto;
}

.list {
  margin-top: var(--gap-m);
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  padding: var(--gap-m);
}