.container {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--color-light-bg-primary);
  border-top: 1px solid var(--color-light-bg-tertiary);
}

.tickets {
  display: -webkit-box;
}

.ticket {
  max-width: 80vw;
  border-radius: var(--border-radius-l);
  background-color: var(--color-light-bg-secondary);
}

.item {
  padding-right: var(--gap-m);
}

.scroll-area {
  overflow-x: scroll;
  padding: 0 var(--gap-m);
  padding-top: var(--gap-m);
}

.scroll-area::-webkit-scrollbar {
  appearance: none;
  display: none;
  height: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-m);
}