.container {
  padding: var(--gap-m);
}

.content {
  text-align: center;
}

.cashback-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--gap-m);
  border-top: var(--color-light-bg-secondary) 1px solid;
}

.cashback {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.cashback-icon {
  width: var(--gap-s);
  height: var(--gap-s);
  border-radius: 999px;
  background-color: var(--color-dark-graphic-accent);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-row-right {
  display: flex;
  align-items: center;
  gap: var(--gap-2xs);
}

.actions {
  margin-top: var(--gap-xl);
}

.big-spinner {
  width: 100px;
  height: 100px;
}