.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--gap-xl) var(--gap-m);
}

.action-button {
  margin-top: var(--gap-m);
}

.modal-message {
  padding: var(--gap-s) var(--gap-m);
  text-align: center;
}